In [1]:
# importing data
import pandas as pd

In [4]:
http://web.mta.info/developers/data/nyct/turnstile/turnstile_200704.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_200711.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_200718.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_200725.txt
    
http://web.mta.info/developers/data/nyct/turnstile/turnstile_190727.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_190720.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_190713.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_190706.txt    

http://web.mta.info/developers/data/nyct/turnstile/turnstile_180728.txt    
http://web.mta.info/developers/data/nyct/turnstile/turnstile_180721.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_180714.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_180707.txt    
    
http://web.mta.info/developers/data/nyct/turnstile/turnstile_170729.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_170708.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_170715.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_170708.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_170701.txt
 
# conda install xlrd
df = pd.read_excel('http://web.mta.info/developers/resources/nyct/turnstile/Remote-Booth-Station.xls')
    
df = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_210306.txt')

In [8]:
df = pd.read_excel('http://web.mta.info/developers/resources/nyct/turnstile/Remote-Booth-Station.xls')

In [9]:
df.head()

  Remote  Booth       Station Line Name Division
0   R001   A060  WHITEHALL ST        R1      BMT
1   R001   A058  WHITEHALL ST        R1      BMT
2   R001  R101S   SOUTH FERRY        R1      IRT
3   R002   A077     FULTON ST  ACJZ2345      BMT
4   R002   A081     FULTON ST  ACJZ2345      BMT